{% extends 'base.html' %}
{% block style %}

{% endblock %}


{% block main %}
    <h1>{{ articleobj.title }}</h1>
    <div>
        {{ articleobj.content }}
    </div>

    {#    点赞点踩#}
    <br>
    <div class="pull-right">
        <botton id="comment">评论<span>{{ articleobj.comment_num }}</span></botton>
        <botton class="diggit ac">点赞<span>{{ articleobj.up_num }}</span></botton>
        <botton class="ac">点踩<span>{{ articleobj.down_num }}</span></botton>
        <div id="back_msg" style="color: red"></div>
    </div>
    <br>

    {#    评论展示#}
    <div id="shore_comment">
        {% for comment in comment_ls %}
            {% if not comment.parent_id %}

            <span>{{ forloop.counter }}楼</span>
            <span>{{ comment.comment_time|date:'Y-m-d h:i:s' }}</span>
            <span>{{ comment.user.username }}</span>
            <span><a class="reply" username="{{ comment.user.username }}" comment_id="{{ comment.pk }}">回复</a></span>
            <div>
                {{ comment.content }}
            </div>
            {% endif %}
        {% endfor %}

{#        评论提交成功临时渲染#}
        <span id="temp_user"></span>
        <div id="temp_content"></div>
    </div>
    <br>

    {#    提交评论后的返回信息#}
    <div style="color:red;" id="back_comment_msg"></div>

    {#    发表评论#}
    {% if request.user.is_authenticated %}
        <div>
            <p>发表评论</p>
            <textarea name="comment" id="id_comment" cols="100" rows="10"></textarea>
            <br>
            <botton class="btn btn-primary" id="comment_sub">提交评论</botton>
        </div>
    {% else %}
        <a href="{% url 'login' %}">登入</a>
        <a href="{% url 'register' %}">注册</a>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
    {#添加子评论#}

        {#点赞点踩#}
        $('.ac').click(function () {
            let isup = $(this).hasClass('diggit');
            let $btn = $(this);
            $.ajax({
                url: '/app/up_or_down/',
                type: 'post',
                data: {
                    "isup": isup,
                    "article_id": "{{ articleobj.pk }}",
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function (args) {
                    if (args.code == 1000) {
                        $('#back_msg').text(args.msg);
                        let oldnum = $btn.children().text();
                        $btn.children().text(Number(oldnum) + 1);
                    } else {
                        $('#back_msg').html(args.msg)
                    }
                }
            })
        });
        {#评论#}
        let parent_id = null;
        $('#comment_sub').click(function () {
            let content = $('#id_comment').val();
            {#如果是子评论，要切除@username#}
            let indexnum = content.indexOf('\n')+1;
            content = content.slice(indexnum);
            $.ajax({
                url: '/app/comment/',
                type: 'post',
                data: {
                    'article_id': '{{ articleobj.pk }}',
                    'content': content,
                    parent_id:parent_id,
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                },
                success: function (args) {
                    if (args.code == 1000) {
                        $('#back_comment_msg').text(args.msg);
                        $('#id_comment').val('');
                        {#临时渲染#}
                        let temp_username = '{{ request.user.username }}';
                        let temp_html = `
                        <div style="margin-left: 100px">
                            <p>${temp_username}</p>
                            <p>${content}</p>
                        </div>
                        `;
                        if(parent_id){
                              $("a[comment_id='"+parent_id+"']").parent().next().append(temp_html)
                        }else {
                            $('#shore_comment').append(temp_html)
                        }
                        parent_id = null;
                    } else {
                        $('#back_comment_msg').text(args.msg)
                    }
                }
            })
        });
    
        {#回复评论#}
        $('.reply').click(function () {
            let comment_username = $(this).attr('username');
            parent_id = $(this).attr('comment_id');
            $('#id_comment').val('@'+comment_username + '\n').focus();
        })
    </script>
{% endblock %}